html{
    box-sizing: border-box;
}
*, 
*::after,
*::before{
    box-sizing: inherit;
}
body{
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}

.visually-hidden{
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.container{
    max-width: 1280px;
    padding: 0 30px;
    margin: auto;
}

.box{
    background-color: black;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.box > svg{
    color: blue;
    cursor: pointer;
    transition: .3s ease;
    &:hover{
        color: purple;
    }
    &:active{
        color: black;
    }
    transform: rotateY(40deg);
}

.element{
    display: flex;
    margin: auto;
    font-size: 72px;
    transform: scaleZ(10);    
}